/*圆角*/
.circle {
    height: 100px;
    width: 100px;
    background: #99ddaa;
    border-radius: 50px;
}

.semi-circle {
    height: 100px;
    width: 50px;
    background: #99ddaa;
    border-radius: 50px 0 0 50px;
}

/*阴影*/
.boxshadow {
    width: 100px;
    height: 100px;
    box-shadow: 4px 4px 6px #99ddaa;
}

/*渐变效果*/
.linear p {
    width: 400px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: #000;
    font-size: 24px;
    background-image: linear-gradient(to top left, red, orange, yellow, green, blue, indigo, violet);
}

/*字体*/
@font-face {
    font-family: "MOOC Font";
    src: url("http://www.imooc.com/Amaranth-BoldItalic.otf");
}

.font-face {
    width: 340px;
    padding: 30px;
    color: #566F89;
    background: #000;
    font-size: 58px;
    font-family: "MOOC Font";
    text-shadow: 3px 3px #5E2612;
}

/*多图背景*/
.multiple-back {
    width: 1000px;
    height: 700px;
    background: url("../img/1.jpg") no-repeat 0 0 / 75% 75%,
    url("../img/2.jpg") no-repeat right bottom / 50% 40%;
}





/*导航菜单*/
.nav{
    width:560px;
    height: 50px;
    font:bold 0/50px Arial;
    text-align:center;
    margin:40px auto 0;
    background: #f65f57;
    border-radius:10px;
    box-shadow:0px 8px 0px #900;
    /*制作圆*/

    /*制作导航立体风格*/
}
.nav a{
    display: inline-block;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.nav a:hover{
    -webkit-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    -o-transform:rotate(10deg);
    -ms-transform:rotate(10deg);
    transform:rotate(10deg);
}

.nav li{
    position:relative;
    display:inline-block;
    padding:0 16px;
    font-size: 13px;
    text-shadow:1px 2px 4px rgba(0,0,0,.5);
    list-style: none outside none;
}
/*使用伪元素制作导航列表项分隔线*/
.nav li::before,.nav li::after{
    content:"";
    position:absolute;
    top:14px;
    height: 25px;
    width: 1px;
}
.nav li::after{
    right: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.2) 50%, rgba(255,255,255,0));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.2) 50%, rgba(255,255,255,0));
    background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.2) 50%, rgba(255,255,255,0));
    background: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.2) 50%, rgba(255,255,255,0));
    background: linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.2) 50%, rgba(255,255,255,0));
}
.nav li::before{
    left: 0;
    background: -moz-linear-gradient(top, #ff625a, #9e3e3a 50%, #ff625a);
    background: -webkit-linear-gradient(top, #ff625a, #9e3e3a 50%, #ff625a);
    background: -o-linear-gradient(top, #ff625a, #9e3e3a 50%, #ff625a);
    background: -ms-linear-gradient(top, #ff625a, #9e3e3a 50%, #ff625a);
    background: linear-gradient(top, #ff625a, #9e3e3a 50%, #ff625a);
}

/*删除第一项和最后一项导航分隔线*/
.nav li:first-child::before{
    background: none;
}

.nav li:last-child::after{
    background: none;
}

.nav a,
.nav a:hover{
    color:#fff;
    text-decoration: none;
}


/*分页*/
.page-icon{
    margin:20px 0 0 0;
    font-size:0;/*修复行内元素之间空隙间隔*/
    text-align:center;
}
.page-icon a,.page-disabled,page-next{
    border:1px solid #ccc;
    border-radius:3px;
    padding:4px 10px 5px;
    font-size:14PX;/*修复行内元素之间空隙间隔*/
    margin-right:10px;
}
.page-icon a{
    text-decoration:none;
    color:#005aa0;
}
.page-current{
    color:#ff6600;
    padding:4px 10px 5px;
    font-size:14PX;/*修复行内元素之间空隙间隔*/
}
.page-disabled{
    color:#ccc;

}
.ellipsis{
    font-size:14PX;/*修复行内元素之间空隙间隔*/
    padding:4px 5px;
}
.page-next i,.page-disabled i{
    cursor:pointer;
    background:url(http://img.mukewang.com/547fdbc60001bab900880700.gif);
    display:inline-block;
    width:5px;
    height:9px;
}
.page-disabled i{
    background-position:-80px -608px;
    margin-right:3px;
}

.page-next i{
    background-position:-62px -608px;
    margin-left:3px;
}













