h1{
    font-size: 60px;
    text-align: center;
}

h2{


}

.Advice-title{
    font-size: 60px;
    text-align: center;
    color: aquamarine;
}

p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
/**/
img{

}
#bj{
    width: 70%;
    height: 40%;

}